<div class="banner">
    <%= video_tag 'movie_projector.mp4', autoplay: :autoplay, loop: :loop, muted: :muted, id: "background-video" %>
    <div class="container">
    <h1>My Movies Lists</h1>
  </div>
</div>

<div class="container-fluid d-flex cards">
  <% @lists.each do |list|  %>
    <div class="card-product">
      <% if list.photo.attached? %>
      <%= cl_image_tag list.photo.key %>
      <% else %>
      <img src="https://play-lh.googleusercontent.com/0tCM5tauUkeKrwPCUtLVMnzUa8GqDLQh6oa7VikLY4WZqgJVR6I5m4c_gxhAFb5a91fd" />
      <% end %>
      <div class="card-product-infos">
      <h2><%= link_to list.name, list_path(list) %></h2>
      <p>  <%= list.movies.count %> films</p>
      </div>
    </div>
  <% end  %>
</div>
